<section class="section" id="quem-sou">
  <div class="container">
    <h1>Oi Prazer em te conhecer!</h1>
    <p>Desde que comecei minha jornada como entusiasta de programação há 4 anos, venho aprimorando minhas habilidades e explorando novas tecnologias. Tenho experiência em Web Design, trabalhando com HTML, CSS, JavaScript e ReactJS, além de React Native para desenvolvimento mobile. Sou apaixonado por Python e banco de dados, com um foco especial no Firebase, onde venho desenvolvendo integrações sólidas e eficientes para diversas aplicações. Sou naturalmente curioso, confiante no que faço e estou sempre buscando formas de me aprimorar e criar soluções práticas e inovadoras</p>
    
  </div>