.container {
  font-family: "Julius Sans One", sans-serif;
  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }
  p {
    letter-spacing: 0.2em;
    text-align: center;
    line-height: 3em;
    font-weight: 500;
  }
}
@media (max-width: 900px) {
  .container {
    width: 80%;
    text-align: center;
    gap: 2em;

    h1 {
      font-size: 1.8em;
      letter-spacing: 0.1em;
    }
    p {
      font-size: 1em;
      width: 100%;
      letter-spacing: 0.01em;
      word-spacing: 0.01em;
    }
  }
}
