header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 700;
  text-shadow: #62affb 0px 0px 3px;
  text-decoration: none;
}

.menuhamb {
  cursor: pointer;
  display: none;
  z-index: 100;
}

.menuhamb div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s ease;
}

.menuhamb.active .line1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.menuhamb.active .line2 {
  opacity: 0;
}

.menuhamb.active .line3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
  display: flex;
  gap: 50px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: #62affb 0px 0px 3px;
}

.animated-button {
  margin: 5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 30px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #00d757;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 15px;
  background-color: #00d757;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  text-shadow: 1px 1px 1px #212121 ;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.botao-mobile {
  display: none;
}

@media (max-width: 900px) {
  .botaocontato {
    display: none;
  }

  .botao-mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00d757;
    bottom: 0;
    right: 0;
    margin: 30px;
    animation: wpp 2s infinite;
  }

  .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign svg {
    width: 45px;
  }

  .sign svg path {
    fill: white;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }

  .botao-mobile:hover {
    width: 150px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }

  .botao-mobile:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 10px;
  }

  .botao-mobile:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
  }

  .botao-mobile:active {
    transform: translate(2px, 2px);
  }

  @keyframes wpp {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 215, 87, 0.7);
    }

    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba(0, 215, 87, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 215, 87, 0);
    }
  }

  .menu {
    position: fixed;
    top: 100px;
    right: 0;
    flex-direction: column;
    width: 60vw;
    background-color: #212121;
    justify-content: space-evenly;
    align-items: center;
    height: calc(var(--full-height) - 100px);
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    z-index: 100;
  }

  .menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  .menu a {
    margin-left: 0;
    padding: 10px;
    color: white;
  }

  .menu a:hover {
    color: #62affb;
    text-shadow: #dee2e6 0px 0px 3px;
    font-weight: 800;
    font-size: 30px;
    transition: 0.3s ease;
    letter-spacing: 6px;
    text-shadow: white 0px 0px 1.5px;
  }

  .menuhamb {
    display: block;
  }
}
