<section class="section" id="inicio">
  <div class="container">
    <img class="img-banner" ngSrc="./assets/profile.jpg" width="250" height="250" priority />
    <h1>Lucas Eduardo Alves</h1>
    <p class="sub-about">Frontend Developer</p>
    <p class="about">Com paixão por transformar ideias em interfaces modernas e funcionais, atuo no desenvolvimento de aplicações web focadas em performance, usabilidade e design. Tenho como missão unir tecnologia e experiência do usuário para criar soluções elegantes, responsivas e eficientes.</p>
  </div>
</section>