@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.2) 30px,
    transparent
  );
  background-size: 60px 60px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Julius Sans One", sans-serif;
  color: white;
  min-height: 100vh;
  width: 80vw;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  gap: 3em;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
